.how-to-entry {
    position: relative;
    display: flex;
    background-color: white;
    align-items: center;
    border: 5px solid;
    transition: all 300ms ease-out;
    flex-direction: column;
    gap: 16px;
    //padding: 15px 30px;
    max-width: 415px;

    .frame {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 0px 16px;
        text-align: center;
        min-height: 150px;
        min-width: 200;
        max-height: fit-content;
    }

    .latestAdditionHeader {
        //margin-top: 2%;
        padding: 10px 16px;
    }

    .heading {
        color: var(--primary-primary-main);
        font-size: 20px;
        line-height: 20px;
    }

    .abstract {
        font-size: 14px;
        line-height: 20px;
    }

    .chakra-button {
        transition: padding 300ms ease-out;
    }

    &.default {
        border-color: #05668d80;
    }

    &.hover {
        background-color: var(--primary-primary-transparent-background);
        border-color: var(--primary-primary-main);

        cursor: pointer;

        .chakra-button {
            transition: padding 300ms ease-out;
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}

.notFound {
    font-weight: 700;
    font-size: 20px;
}
