.resTypeHeaderBackBtn {
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    min-width: fit-content;

    .to {
        font-weight: 700;
        color: #05668d;
    }
}

.resTypeHeader {
    color: #666666;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    min-width: fit-content;
}

.resTypeHeaderLine {
    min-height: 1px;
    background: var(--border-grey);
}
