.back {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-left: -15%;
    min-width: 140px;

    .to {
        color: #05668d;
        display: inline-block;
    }

    .resultList {
        color: "#333333";
        display: inline-block;
    }
}

.resourceType {
    color: #666666;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
