.mission {
    position: relative;

    .bg-icon {
        height: 258px;
        right: 100px;
        position: absolute;
        bottom: 0;
        width: 322px;
    }

    .mission-text {
        padding: 80px 150px;

        .bold {
            font-weight: 700;
        }

        .link {
            color: var(--primary-primary-main);
        }
    }
}
