.four-o-four-container {
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
}

.fourOFourHeader {
    color: #e74c3c; /* Red color */
}

.fourOFourLink {
    color: #3498db; /* Blue color */
    text-decoration: underline;
}
