.footer {
    position: relative;
    width: 100%;
    background-color: #05668d;

    &:before {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-image: url("/background.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }

    .footer-navigation {
        .section {
            padding-bottom: 24px;
            display: flex;
            color: #ffffff;
            align-items: center;

            .section-header {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
                left: 0;
                letter-spacing: 0;
                color: #ddd;
                //opacity: 0.7;
                white-space: nowrap;
            }

            .section-entry {
                text-decoration: underline;
            }
        }
    }

    .social-media {
        padding-bottom: 30px;
        align-items: center;

        .entry {
            //height: 0px;
            display: flex;
            //gap: 0px;
            align-items: center;
            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.label {
    font-size: 16px;
    font-weight: 600;
    //line-height: 26px;
    white-space: nowrap;
    color: white !important;
    text-decoration: underline;
}
