.supportHeader {
    color: #000;
    //font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.supportText {
    color: var(--text-text-color, #000);
    //font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 16px;
    margin-bottom: 16px;
}
