[data-theme][data-theme="light"] {
    --primary-primary-main: #05668d;
    --border-grey: #cccccc;
    --primary-primary-transparent-background: #e0f6fa80;
}

// global styles
.seperator {
    width: 100%;
    min-height: 1px;
    background: var(--border-grey);
}

@import "./components/NavigationMenu.scss";
@import "./components/Footer/Footer.scss";
@import "./components/ResourceType/Metadata/Metadata.scss";
@import "./components/ResourceType/Abstract/Abstract.scss";
@import "./views/Start/Start.scss";
@import "./views/Start/HowTo/HowToEntry.scss";
@import "./components/ResourceType/ActionButton/ActionButton.scss";
@import "./components/ResultsNavigation/ResultsNavigation.scss";
@import "./components/ResourceType/ResourceTypeHeader/ResourceTypeHeader.scss";
@import "./views/Standard/Standard.scss";
@import "./views/Service/Service.scss";
@import "./views/Start/ResourceEntry/ResourceEntry.scss";
@import "./views/Start/ParticipateEntry/ParticipateEntry.scss";
@import "./components/ResourceType/RelatedContent/RelatedContent.scss";
