.goToLocationBtn {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.goToLocationBtnLabel {
    color: #05668d;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 183.333% */
    letter-spacing: 0.24px;
    text-transform: uppercase;
}
