.actionButtonGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.actionButton {
    display: flex;
    padding: 14px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.actionButtonLabelSolid {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 183.333% */
    letter-spacing: 0.24px;
    text-transform: uppercase;
}

.actionButtonLabelOutline {
    color: var(--primary-primary-main, #05668d);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 183.333% */
    letter-spacing: 0.24px;
    text-transform: uppercase;
}
