.relatedContentResource-entry {
    position: relative;

    .relatedContentOverlap {
        width: 70px;
        position: relative;

        .relatedContentIcon-base {
            background-color: var(--primary-primary-main);
            border-radius: 50px;
            height: 50px;
            left: 3px;
            position: absolute;
            top: 1px;
            width: 50px;
        }

        .relatedContentIcon {
            left: 13px;
            position: absolute;
            top: 11px;
        }

        .relatedContentCircle-group {
            height: 50px;

            .circle {
                border: 1px solid;
                border-color: var(--primary-primary-main);
                border-radius: 50px;
                height: 100px;
                position: absolute;
                width: 100px;
            }
        }
    }
}

.relatedContentHeader {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.relatedContentTitle {
    color: #05668d;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25%;
    margin-bottom: 25%;
}

.relatedContentLabel {
    color: #05668d;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.relatedContentButton {
    display: flex;
    padding: 6px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    width: 100%;
}

.relatedContentButtonLabel {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.relatedContentLine {
    min-width: 1px;
    background: var(--border-grey);
    opacity: 1 !important;
}
