.draw-polygon {
    top: 65px;
    left: 0.5em;
    //background: url(/polygon.svg);
}
.draw-circle {
    top: 88px;
    left: 0.5em;
}
.draw-marker {
    top: 111px;
    left: 0.5em;
}

.popup-background-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-background {
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 20px;
    position: relative;
}
